{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Image</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products %}
      <tr>
        <!--<th scope="row">{{product.productid}}</th>-->
        <td><img src="/static/{{ product.productid }}.png" alt="{{product.name}}" width="100" height="100"></td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <ul>
    {% if page > 1 %}
      <a href="/?page={{ page-1 }}" style="padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; margin: 5px; border: none; cursor: pointer; border-radius: 4px;">Previous</a>
    {% endif %}
      <span class="pagination-info" style="font-size: 18px; margin: 0 10px;">Page {{ page }} / {{ max_page }}</span>
      <a href="/?page={{ page+1 }}" style="padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; margin: 5px; border: none; cursor: pointer; border-radius: 4px;">Next</a>
  </ul>
</div>

<br><br>

<h1>Enter K:</h1>
<form method="post">
    <input type="number" name="k" required>
    <input type="submit" value="Get Top Products">
</form>

<br><br>
<h1>Enter User ID:</h1>
<form method="post" action="{{ url_for('feedback.get_feedbacks') }}"> 
    <input type="number" name="user_id" required>
    <input type="submit" value="Get User Feedbacks">
</form>


<br><br>
<h1>Enter Seller ID:</h1>
<form method="post" action="{{ url_for('sellers.get_seller_inventory') }}">
    <input type="number" name="seller_id" required>
    <input type="submit" value="Get Seller Products">
</form>

{% if current_user.is_authenticated %}

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
