{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.productid}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

<h1>Enter K:</h1>
<form method="post">
    <input type="number" name="k" required>
    <input type="submit" value="Get Top Products">
</form>

<br><br>
<h1>Enter User ID:</h1>
<form method="post" action="{{ url_for('feedback.get_feedbacks') }}"> 
    <input type="number" name="user_id" required>
    <input type="submit" value="Get User Feedbacks">
</form>


<br><br>
<h1>Enter Seller ID:</h1>
<form method="post" action="{{ url_for('sellers.get_seller_inventory') }}">
    <input type="number" name="seller_id" required>
    <input type="submit" value="Get Seller Products">
</form>

{% if current_user.is_authenticated %}
<br/>
<form action = "cart">
  <button type = "submit" class = "button">
    Click to View Cart
  </button>
</form>
<br/>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
