<h2>User Feedbacks:</h2>

{% if feedbacks %}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Type</th> <!-- New column for the type of entity -->
      <th scope="col">Entity ID</th> <!-- Renamed from Product ID to be more generic -->
      <th scope="col">Rating</th> <!-- New column for rating -->
      <th scope="col">Comment</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for feedback in feedbacks %}
      <tr>
        <td>{{ feedback.type }}</td> <!-- Display type of the review -->
        <td>{{ feedback.entity_id }}</td> <!-- Display either product ID or seller ID -->
        <td>{{ feedback.rating }}</td> <!-- Display rating -->
        <td>{{ feedback.comments }}</td>
        <td>{{ feedback.date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No feedbacks available for the provided user ID.</p>
{% endif %}
