{% extends "base.html" %}

{% block content %}

<style>
    /* Adjusted CSS to center the supernova message */
    .supernova {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .supernova p {
            font-size: 18px;
            font-weight: bold;
            color: #fff; /* Text color */
            background-color: #f8d847; /* Background color */
            padding: 20px;
            border-radius: 8px;
            opacity: 0;
            animation: explode 6s; /* Delayed animation for 5 seconds */
        }

        .star-gif {
            display: block;
            margin-top: 10px; /* Adjust as needed */
            max-width: 400px; /* Adjust the max-width for the GIF */
            width: 100%; /* Make the width 100% to maintain aspect ratio */
            height: auto; /* Auto-adjust the height */
            margin: 0 auto; /* Center the GIF */
            opacity: 0;
            animation: explode-gif 5s; /* Delayed animation for 5 seconds */
        }

        @keyframes explode {
            0% {
                transform: scale(0);
                opacity: 0;
            }
            50% {
                transform: scale(1.2);
                opacity: 1;
            }
            100% {
                transform: scale(1);
                opacity: 0;
            }
        }

        @keyframes explode-gif {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
</style>

{% if new_sale_flag %}
    <div class="supernova">
        <p>Congrats Superstar! You've Sold a Product!</p>
        <img src="../static/kepler-exploding-star-nasa.gif" alt="Exploding Star" class="star-gif" />
    </div>
{% endif %}

<h1>Unfulfilled Order History</h1>

<form action="{{ url_for('sellers.get_unfulfilled_order_history', seller_id=current_user.id) }}" method="get">

    <label for="sort">Sort by:</label>
    <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="date_desc" {% if request.args.get('sort') == 'date_desc' %}selected{% endif %}>Most Recent Date</option>
        <option value="date_asc" {% if request.args.get('sort') == 'date_asc' %}selected{% endif %}>Oldest Date</option>
        <option value="quantityLow" {% if request.args.get('sort') == 'quantityLow' %}selected{% endif %}>Quantity: Low to High</option>
        <option value="quantityHigh" {% if request.args.get('sort') == 'quantityHigh' %}selected{% endif %}>Quantity: High to Low</option>
        <option value="priceLow" {% if request.args.get('sort') == 'priceLow' %}selected{% endif %}>Price: Low to High</option>
        <option value="priceHigh" {% if request.args.get('sort') == 'priceHigh' %}selected{% endif %}>Price: High to Low</option>
        <option value="Home Improvement" {% if request.args.get('sort') == 'Home Improvement' %}selected{% endif %}>Category: Home Improvement</option>
        <option value="Electronics" {% if request.args.get('sort') == 'Electronics' %}selected{% endif %}>Category: Electronics</option>
        <option value="Health&Personal Care" {% if request.args.get('sort') == 'Health&Personal Care' %}selected{% endif %}>Category: Health & Personal Care</option>
        <option value="Office Products" {% if request.args.get('sort') == 'Office Products' %}selected{% endif %}>Category: Office Products</option>
        <option value="Computers&Accessories" {% if request.args.get('sort') == 'Computers&Accessories' %}selected{% endif %}>Category: Computers & Accessories</option>
        <option value="Toys & Games" {% if request.args.get('sort') == 'Toys & Games' %}selected{% endif %}>Category: Toys & Games</option>
        <option value="Home&Kitchen" {% if request.args.get('sort') == 'Home&Kitchen' %}selected{% endif %}>Category: Home & Kitchen</option>
    </select>
</form>

<table class="table table-hover table-bordered container" style="font-size: 0.8em;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Present?</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Time Purchased</th>
            <th scope="col">Buyer Address</th>
            <th scope="col">Mark Fulfilled</th>
        </tr>
    </thead>
    
    <tbody>
        {% for order in order_history %}
            <tr>
                <td style="text-align: center;">
                    {% if order.present %}
                        <img src="/static/gift_icon.png" alt="Gift Image" style="width: 20px; height: 20px; margin-right: 5px;">
                    {% endif %}
                </td>
                <td>{{ order.category }}</td>
                <td>{{ order.quantities }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.time_purchased }}</td>
                <td>{{ order.address }}</td>
                <td>
                    <form method="post" action="{{ url_for('sellers.mark_line_item_fulfilled', line_item_id=order.itemid) }}">
                        <button type="submit" class="btn btn-success">Mark Fulfilled</button>
                    </form>
                </td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
