{% extends "base.html" %}

{% block content %}
<html>
<body>
    {% if user %}
    <h1>{{ user[0]['name'] }}'s Public Profile</h1>
    <ul>
        <li><strong>Account ID:</strong> {{ user[0]['account_id'] }}</li>
        <li><strong>Name:</strong> {{ user[0]['name'] }}</li>
        <li><a href="{{ url_for('users.search_user') }}">Back to Search Results</a></li>
    </ul>

    {% if sell_stat %}
    <hr style="border: none; border-top: 2px solid black; clear: both; margin-top: 70px;">
    <h1><span style="color: #00aaff;">Seller Public Profile</span></h1>
    <ul>
        <li><strong>Email:</strong> {{ user[0]['email'] }}</li>
        <li><strong>Address:</strong> {{ user[0]['address'] }}</li>
    </ul>
    {% endif %}

    {% else %}
        <p>No user found</p>
    {% endif %}

</body>
</html>
{% endblock %}