{% extends "base.html" %}

{% block content %}
<html>
<body>
    {% if user %}
    <h1 style="color: yellow;">{{ user[0]['name'] }}'s Public Profile</h1>
    <ul>
        <li><strong>Account ID:</strong> {{ user[0]['account_id'] }}</li>
        <li><strong>Name:</strong> {{ user[0]['name'] }}</li>
        {% if ver_stat %}
        <li><strong>Verified:</strong>
            <span style="display: inline;">
                <i class="fas fa-star" style="color: yellow; font-size: 16px;"></i>
                <i class="fas fa-star" style="color: yellow; font-size: 16px;"></i>
                <i class="fas fa-star" style="color: yellow; font-size: 16px;"></i>
            </span>
        </li>
        {% endif %}
    </ul>

    {% if sell_stat %}
    <hr style="clear: both; margin-top: 70px;">
    <h1><span style="color: yellow;">Seller Public Profile</span></h1>
    <ul>
        <li><strong>Email:</strong> {{ user[0]['email'] }}</li>
        <li><strong>Address:</strong> {{ user[0]['address'] }}</li>
    </ul>
    {% endif %}

    {% else %}
        <p>No user found</p>
    {% endif %}

</body>
</html>
{% endblock %}